.App {
  text-align: center;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;

}



.App-header {
  width:100%;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
#session-label, #break-label{
  width:50%;
}
#timer-label{
  width:100%;
  justify-content: center;
}
#start_stop, #reset{
  margin: 5px;

}
#break-decrement, #session-decrement {
  margin-right: 25px;
}

#break-increment, #session-increment {
  margin-left: 25px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
